.card-container{
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 5px solid var(--yellow);

  background-color: var(--light-yellow);
  
  img {
    width: 70%;
  }
  
  label{
    // padding-top: 1rem;
    font-size: 1.5rem;
    color: var(--gray);
  }
  
}